{:static
 {:abilities
  [{:id :acc, :label "Accuracy"}
   {:id :com, :label "Communication"}
   {:id :con, :label "Constitution"}
   {:id :dex, :label "Dexterity"}
   {:id :fgt, :label "Fighting"}
   {:id :int, :label "Intelligence"}
   {:id :per, :label "Perception"}
   {:id :str, :label "Strength"}
   {:id :wil, :label "Willpower"}],
  :races
  {"Dwarf"    {:speed 8}
   "Elf"      {:speed 12}
   "Gnome"    {:speed 8}
   "Halfling" {:speed 8}
   "Human"    {:speed 10}
   "Orc"      {:speed 10}}
  :backgrounds
  {"Outsider" ["Criminal" "Exile" "Hermit" "Pirate" "Radical" "Wanderer"]
   "Lower Class" ["Artist" "Laborer" "Performer" "Sailor" "Soldier" "Tradesperson"]
   "Middle Class" ["Guilder" "Initiate" "Innkeeper" "Merchant" "Scribe" "Student"]
   "Upper Class" ["Apprentice" "Dilettante" "Noble" "Official" "Scholar" "Squire"]}
  :classes
  {"Mage"
   {:primaries
    #{:acc
      :int
      :per
      :wil}}
   "Rogue"
   {:primaries
    #{:acc
      :com
      :dex
      :per}}
   "Warrior"
   {:primaries
    #{:con
      :dex
      :fgt
      :str}}}
  :class-powers
  [{:label "Pinpoint Attack"
    :desc "Once per round, you can add 1d6 damage to successful attack if your Dexterity is greater than your opponent's."}]
  :race-powers
  [{:label "Dark Sight"
    :desc "You can see up to 20 yards in darkness without a light source."}
   {:label "Language: Common"}
   {:label "Language: Elvish"}]
  :focuses
  {:com
   [{:label "Animal Handling"
     :desc "Interacting with and caring for animals."}
    {:label "Persuasion"
     :desc "Convincing others to agree with you."}]
   :dex
   [{:label "Riding"
     :desc "Directing a mount such as a horse or pony."}]
   :int
   [{:label "Arcana: Earth"}
    {:label "Arcana: Fire"}
    {:label "Arcana: Healing"}
    {:label "Evaluation"
     :desc "Determining the value of goods and objets d’art."}
    {:label "Healing"
     :desc "Aiding the wounded and sick."}
    {:label "Historical Lore"
     :desc "Knowing important events and personalities from the past."}
    {:label "Military Lore"
     :desc "Knowing strategy, tactics, and famous applications thereof."}
    {:label "Natural Lore"
     :desc "Knowing natural flora and fauna."}]
   :per
   [{:label "Empathy"
     :desc "Discerning the feelings and emotions of others."}]
   :str
   [{:label "Intimidation"
     :desc "Overawing others with physical presence and threats."}]
   :wil
   [{:label "Courage"
     :desc "Overcoming fear in the face of adversity."}]}
  :talents
  [{:label "Alchemy (Novice)"
    :desc "You know the basics of alchemy. You can make blast vials and thunder vials."}
   {:label "Alchemy (Journeyman)"
    :desc "You are at home in a laboratory. You can make  re vials and ice vials."}
   {:label "Alchemy (Master)"
    :desc "Your alchemical knowledge is vast. You can make acid vials and lighting vials."}
   {:label "Armor Training (Novice)"
    :desc "You can wear leather and mail armor without suffering a penalty to Dexterity."}
   {:label "Armor Training (Journeyman)"
    :desc "You can wear plate armor without suffering a penalty to Dexterity."}
   {:label "Armor Training (Master)"
    :desc "You can get the most out of your armor. You gain the bene t of half the Armor Rating (rounded down) of your armor when you take penetrating damage. (Normally, armor provides no defense against penetrating damage.)"}
   {:label "Chirurgy (Novice)"
    :desc "You have trained in the art of chirurgy and your aid is swift and sure. Heal is a minor action for you."}
   {:label "Contacts (Novice)"
    :desc "You can attempt to make a contact out of a NPC with a successful Communication (Persuasion) test. The GM will set the target number based on the likelihood of you knowing the NPC or having mutual friends. The more distant the NPC’s homeland or social class from yours, the more dif cult the test will be. A contact will be friendly to you, but won’t go out of the way to help you without additional motivation. You can’t make a contact out of a NPC who already dislikes you or is an enemy."}
   {:label "Earth Arcana (Novice)"
    :desc "You learn the spells Rock Blast and Stone Cloak."}
   {:label "Earth Arcana (Journeyman)"
    :desc "You learn the spell Earth Speed. You also gain the focus Intelligence (Earth Arcana)."}
   {:label "Earth Arcana (Master)"
    :desc "You learn the spell Earthquake. You can also choose one spell stunt you can perform for -1 SP when casting Earth Arcana spells."}
   {:label "Healing Arcana (Novice)"
    :desc "You learn the spells Healing Touch and Revival"}
   {:label "Healing Arcana (Journeyman)"
    :desc "You learn the spell Healing Aura. You also gain the focus Intelligence (Healing Arcana)."}
   {:label "Healing Arcana (Master)"
    :desc "You learn the spell Restoration. You can also choose one spell stunt you can perform for -1 SP when casting Healing Arcana spells."}
   {:label "Fire Arcana (Novice)"
    :desc "You learn the spells Arcane Lantern and Flame Blast."}
   {:label "Fire Arcana (Journeyman)"
    :desc "You learn the spell Burning Shield. You also gain the focus Intelligence (Fire Arcana)."}
   {:label "Fire Arcana (Master)"
    :desc "You learn the spell Firestorm. You can also choose one spell stunt you can perform for -1 SP when casting Fire Arcana spells."}
   {:label "Lore (Novice)"
    :desc "You have studied hard. When you make a successful Intelligence test with a lore focus, the GM should give you an extra piece of information on the topic. A lore focus is any Intelligence focus with the word \"lore\" in it, such as Cultural Lore and Historical Lore. The GM determines the additional information and it may or may not be pertinent to the main question at hand."}
   {:label "Thievery (Novice)"
    :desc "You don’t let locks stand in your way. If you fail a Dexterity (Lock Picking) test, you can re-roll it, but you must keep the results of the second roll."}
   {:label "Thievery (Journeyman)"
    :desc "You are familiar with many types of traps. If you fail a Dexterity (Traps) test, you can re-roll it, but you must keep the results of the second roll."}
   {:label "Thievery (Master)"
    :desc "You know how to find what’s hidden. If you fail a Perception (Searching) test, you can re-roll it, but you must keep the results of the second roll."}
   {:label "Two-Hander Style (Novice)"
    :desc "The length of your weapon and the power of your attacks forces foes to yield ground. When you hit with a Melee Attack with a two-handed weapon, you can move the target 2 yards in any direction."}
   {:label "Two-Hander Style (Journeyman)"
    :desc "You can strike fearsome blows with your weapon. You can perform the Mighty Blow stunt for 1 stunt point instead of the usual 2 when wielding a two-handed weapon."}
   {:label "Two-Hander Style (Master)"
    :desc "You and your weapon are as one. When wielding a two-handed weapon, you can choose to re-roll your damage, but you must keep the results of the second roll."}
   {:label "Weapon and Shield Style (Novice)"
    :desc "You can use shields of all shapes and sizes. You get the full Defense bonus when using a shield."}
   {:label "Weapon and Shield Style (Journeyman)"
    :desc "You know how to get the most from your shield. You can perform the Defensive Stance stunt for 1 stunt point instead of the usual 2."}
   {:label "Weapon and Shield Style (Master)"
    :desc "Opponents must work hard to get by your defenses. The shield bonus of any shield you use increases by 1."}]
  :spells
  [{:name "Arcane Lantern"
    :time "Maj"
    :cost "2mp/hr"
    :tn 8
    :desc "You illuminate the area around you with a steady light similar to that of a lantern. The spell illuminates a 10 yard radius centered on you. Arcane Lantern lasts for one hour, but can be extended for 2 MP per additional hour."
    :req :fire-arcana-novice}
   {:name "Burning Shield"
    :time "Maj"
    :cost "6mp"
    :tn 12
    :desc "You surround yourself with an aura of fire. Any adjacent enemy that makes a melee attack against you takes 2 penetrating damage. Burning shield lasts for a number of minutes equal to your Willpower."
    :req :fire-arcana-journeyman}
   {:name "Earthquake"
    :time "Maj"
    :cost "11+ mp"
    :tn 17
    :desc "The ground bucks and rolls in an area with a 6-yard radius anywhere you choose within 30 yards. Anyone caught in the area suffers a -2 penalty to Defense and a -5 penalty to Speed for one round. They must also succeed on a Dexterity (Acrobatics) test vs. your Spellpower or fall prone. This spell normally lasts for one round but for 5 MP, paid at the start of your subsequent turns as a free action, you may extend the duration by an additional round."
    :req :earth-arcana-master}
   {:name "Earth Speed"
    :time "Maj"
    :cost "6mp"
    :tn 13
    :desc "You let the earth swallow and transport you, re-emerging anywhere within 30 yards that you can see. You must be standing on dirt when you cast the spell and you must emerge from the dirt as well."
    :req :earth-arcana-journeyman}
   {:name "Firestorm"
    :time "Maj"
    :cost "11mp"
    :tn 15
    :desc "You create an explosive firestorm with a 4-yard radius anywhere within 50 yards of you. Anyone caught in the area takes 3d6+Willpower damage and may be knocked prone. Those who make a successful Dexterity (Acrobatics) test vs. your Spellpower remain standing."
    :req :fire-arcana-master}
   {:name "Flame Blast"
    :time "Maj"
    :cost "4mp"
    :tn 12
    :desc "Gouts of blazing fire erupt from your outstretched hands or arcane device, burning nearby targets. The flame blast is 8 yards long and 2 yards wide. Anyone hit by the blast takes 2d6+1 damage. Targets that make a successful Dexterity (Acrobatics) test vs. your Spellpower only take 1d6+1 damage."
    :req :fire-arcana-novice}
   {:name "Healing Aura"
    :time "Maj"
    :cost "3-9mp"
    :tn 15
    :desc "Waves of healing energy radiate from you and aid your nearby allies. You can pick a number of targets up to twice your Willpower, all of whom must be within 10 yards of you. All targets regain 1d6 Health per 3 MP you spend (to a maximum of 3d6 Health for 9 MP). You can designate yourself as one of the targets."
    :req :healing-arcana-journeyman}
   {:name "Healing Touch"
    :time "Maj"
    :cost "1-3mp"
    :tn 10
    :desc "Your touch seals wounds and restores vigor to one wounded target. You can choose to spend up to 3 MPs when you cast the spell. For each MP spent, the target gets back 1d6 Health. You can cast this on yourself."
    :req :healing-arcana-novice}
   {:name "Restoration"
    :time "1 min"
    :cost "15mp"
    :tn 17
    :desc "You can restore a gravely injured character to health, though this spell takes 1 minute to cast and is thus most useful outside of combat encounters. You must remain adjacent to the target throughout the casting. If successful, the target regains Health equal to your Willpower × 10."
    :req :healing-arcana-master}
   {:name "Revival"
    :time "Maj"
    :cost "5mp"
    :tn 14
    :desc "Your touch helps restore the grievously wounded or fallen. A dying character adjacent to you immediately regains 10 + their Constitution + your Willpower in Health. Since dying characters cannot take actions, you cannot cast this spell on yourself."
    :req :healing-arcana-novice}
   {:name "Rock Blast"
    :time "Maj"
    :cost "4mp"
    :tn 12
    :desc "A blast of small rocks burst from your hand or arcane device at a visible enemy within 20 yards. They in ict 1d6 + Willpower penetrating damage and the target is knocked prone. If the target makes a successful Constitution (Stamina) test vs. your Spellpower, Rock blast only in icts 1d6 penetrating damage and the target remains standing."
    :req :earth-arcana-novice}
   {:name "Stone Cloak"
    :time "1 min"
    :cost "3mp"
    :tn 10
    :desc "Your clothing takes on the toughness of stone while remaining pliable. Stone cloak gives you an Armor Rating equal to your Willpower ability for 1 hour. If you are wearing regular armor, stone cloak has no effect. You can only cast this on yourself."
    :req :earth-arcana-novice}]
  :melee-weapons
  [["Two-handed Axe" "Fgt" "3d6"]
   ["Fist" "Acc" "1d3"]]
  :ranged-weapons
  [["Arcane Blast" "Acc" "1d6 + Wil" "16" "16" "N/A"]]}
 :pages
 [{:name
   "Main",
   :spec
   [:rows
    [:cols
     [:table
      [:tbody
       [:tr
        [:td
         "Name"]
        [:td
         [:input#name]]]
       [:tr
        [:td
         "Race"]
        [:td
         [:picker#race
          {:items (keys :$races)}]]]
       [:tr
        [:td
         "Social Class"]
        [:td
         [:picker#social-class
          {:items (keys :$backgrounds)}]]]
       [:tr
        [:td
         "Background"]
        [:td
         [:picker#background
          {:items (get :$backgrounds :#social-class)}]]]]]
     [:rows
      [:table
       [:tbody
        [:tr
         [:th
          "Class"]
         [:th
          "Level"]
         [:th
          "Experience"]]
        [:tr
         [:td
          [:picker#class
           {:items (keys :$classes)}]]
         [:td
          [:input#level.number]]
         [:td
          [:input-calc#experience.big-number]]]]]
      [:table
       [:tbody
        [:tr
         [:th
          "Speed"]
         [:th
          "Defence"]
         [:th
          "Armor"]
         [:th
          "Penalty"]
         [:th
          "Health"]]
        [:tr
         [:td (- (+ (get-in :$races [:#race :speed]) :#dex) :#armor-penalty)]
         [:td (+ 10 :#dex)]
         [:td
          [:input#armor.number]]
         [:td
          [:input#armor-penalty.number]]
         [:td
          [:partial-number#hp]]]]]
      [:table
       [:tbody
        [:tr
         [:th
          "Move (Yds)"]
         [:th
          "Charge (Yds)"]
         [:th
          "Run (Yds)"]]
        [:tr
         [:td
          (- (+ (get-in :$races [:#race :speed]) :#dex) :#armor-penalty)]
         [:td
          (/ (- (+ (get-in :$races [:#race :speed]) :#dex) :#armor-penalty) 2)]
         [:td
          (* (- (+ (get-in :$races [:#race :speed]) :#dex) :#armor-penalty) 2)]]]]]]
    [:hr]
    [:cols
     [:table
      [:tbody
       [:tr
        [:th
         "P?"]
        [:th
         "Ability"]
        [:th
         "Focuses"]
        [:th
         "Rating"]]
       (for [a :$abilities]
         [:tr
          [:td
           [:checkbox
            {:value
             (contains?
               (get-in
                 :$classes
                 [:#class
                  :primaries])
               (:id a))}]]
          [:td
           (:label a)]
          [:td
           [:selectable-set
            {:id (keyword (str (name (:id a)) "-focuses"))
             :items (get :$focuses (:id a))}]]
          [:td
           [:input.number {:id (:id a)}]]])]]
     [:table
      [:tbody
       [:tr
        [:th "Powers and Talents"]]
       [:tr
        [:td
         [:selectable-list#powers
          {:placeholder "Add a new power"
           :items (concat :$talents :$race-powers :$class-powers)}]]]]]]
    [:hr]
    [:cols
     [:dynamic-table#melee-weapons
      {:cols ["Melee Weapon" "ATK Roll" "DMG Roll"]
       :items :$melee-weapons}]
     [:rows
      [:dynamic-table#ranged-weapons
       {:cols ["Ranged Weapon" "ATK Roll" "DMG Roll"
               "Short Range" "Long Range"
               "Reload Time"]
        :items :$ranged-weapons}]
      [:consumables#consumables
       {:label "Consumables"}]]]
    [:hr]
    [:cols
     [:table
      [:tbody
       [:tr
        [:th "Spellpower"]
        [:th "MP"]]
       [:tr
        [:td (str (+ 10 :#wil) " + Focus")]
        [:td
         [:partial-number#mp]]]]]
     [:dynamic-table#spells
      {:cols ["Spell Name" "Cast Time" "MP Cost" "TN" :desc]
       :value (let [known :#powers]
                (->> :$spells
                     (filter (fn [sp]
                               (contains? known
                                          (:req sp))))
                     (map (fn [sp]
                            [(:name sp)
                             (:time sp)
                             (:cost sp)
                             (:tn sp)
                             (:desc sp)]))))}]]]}
  {:name "EQ"
   :spec
   [:cols
    [:rows
     [:currency#currency
      {:kinds
       [{:label "Gold"
         :id :gold
         :value [10 :silver]}
        {:label "Silver"
         :id :silver
         :value [10 :copper]}
        {:label "Copper"
         :id :copper}]}]
     [:hr]
     [:consumables#consumables
      {:label "Consumables"}]]
    [:inventory#carried
     {:label "Carried"}]]}
  {:name "Notes"
   :type :notes}]}

