body {
}

.invisible {
    visibility: hidden;
}

.editor {
    font-family: monospace;
}

.cols-item {
    &:first-child .col-separator {
        display: none !important;
    }

    .col-separator {
        height: 1em;
    }
}

.selectable-set,.tag-cloud  {
    > div {
        float: left;
    }

    &:after {
        clear: both;
    }
}

// remove the ugly outline on osx
.form-control:focus {
    outline: 0 none;
    border-color: transparent;
    box-shadow: none;
}

input.number, input.big-number {
    text-align: center;
}

.card {
    padding: 1em;
}
