body {
}

.invisible {
    visibility: hidden;
}

.editor {
    font-family: monospace;
}

.selectable-set,.tag-cloud  {
    > div {
        float: left;
    }

    &:after {
        clear: both;
    }
}

input.number, input.big-number {
    text-align: center;
}

.card {
    padding: .5em;
}
